* {
    margin: 0;
    padding: 0;
}

h5 {
    font-size: 16px;
}

#footer {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}


.footer-main  {
    display: flex;
    justify-content: space-between;
    background-color: rgba(49, 18, 75, 255);
    padding: 5%;
    color: honeydew;  
}

.footer-logo{
    color: white;
    font-size: 24px;
    font-weight:900;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 16px;
}

.footer-media {
    margin-top: -24px;
}

.footer-main > div {
    width: 25%;
    
  }
  
  .footer-main > div:first-child > div:first-child {
    display: flex;
    align-items: center;
  }
  
  
  .footer-main > div:first-child p {
    font-weight: lighter;
    font-size: 16px;
    letter-spacing: 1px;
    margin-bottom: 15px;
    padding-right: 2%;

  }

  .footer-main > div:first-child ul {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    padding-left: 0%;
  }

  .footer-main > div:first-child ul li i {
    color: white;
    border: 1px solid rgba(242, 255, 0, 0.851);
    padding: 5px;
    color: whitesmoke;
    border-radius: 100%;
  }

  .footer-main > div:first-child ul li i:hover,.footer-main-tag-container ul li:hover{
    background: #fa9e1b;
    cursor: pointer;
  }

  .footer-main > div:nth-child(2) > h3{
    margin-bottom: 20px;
  }

  .footer-main > div:nth-child(2) > div {
    padding-left: 5px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 20px;
  }

#footer ul {
    list-style-type: none;
    display: flex;
    margin-left: 16px;
}

#footer h3 {
    margin-bottom: 32px;
    font-size: 20px;
}

.blog-fashion {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.logo-foot{
    letter-spacing: 4px;
    margin-left: 16px;
}

.blog-post-logo-container {
    width: 30%;
    margin-right: 16px;
}

.blog-post-logo-container + div h5:first-child {
    margin-bottom: 1px;
    font-weight: 300;
    margin-top: 10px;
}

.blog-post-logo-container + div h5:nth-child(2) {
    margin-top: 4px;
    color: #f79c22;
    font-weight: 200;
}

.footer-blog-img {
    width: 100%;
}

.footer-tag > h3{
    margin-bottom: 20px;
}

.footer-tag div ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 0%;
}

.footer-tag div ul li {
    width: auto;
    margin-bottom: 10px;
    border: 1px solid #8a5035;
    padding: 2%;
    font-weight: 300;
    text-align: center;
}

.footer-tag div ul li:nth-child(odd) {
    margin-right: 12px;
}

.footer-tag div ul li {
    width: 40%;
}

.footer-tag div ul li a {
    color: whitesmoke;
    text-decoration: none;
}

.footer-tag ul li:hover {
    background-color: #fa9e1b;
    color: white;
}

.contact-info-item {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}
.contact-info-icon {
    width: 12%;
}
.contact-info-icon img {
    width: 70%;
}

.contact_info_text a{
    color: white;
    text-decoration: none;
}

.contact_info_text a:hover {
    color: #f79c22;
}

.footer-copyright,.footer-copyright ul li a,.footer-copyright ul{
    display: flex;
      justify-content: space-evenly;
      background-color: #1f0733;
      color: #3d274e;
      align-items: center;
      font-weight: 500;
      font-size: 12px;
      align-items: center;
  }

  .footer-copyright ul li a:hover{
      color: whitesmoke;
  }

  .footer-copyright p{
      width: 30%;
      letter-spacing: 1px;
      padding: 1%;
  }

  .footer-copyright p span{
      color: #0d49a7;
  }

  .footer-copyright p span:hover{
      color: #063580;
  }

  .footer-copyright ul{
    width: 40%;
  }

  .footer-copyright ul li a {
    text-decoration: none;
  }

  /* RESPONSIVE */

@media screen and (max-width:1036px) {

    #footer {
        font-size: 12px;
    }

    #footer p {
        font-size: 12px;
    }

    #footer h3 {
        font-size: 16px;
    }

    .footer-main{
        flex-direction: column;
    }

    .footer-main > div {
        width: 100%;
    }
    
    .footer-media ul li a {
        display: none;
    }

    .footer-media > p {
        font-size: 12px;
    }

    .blog-fashion{
        flex-direction: row;
    }

    .footer-tag div ul li {
        width: auto;
        margin-bottom: 10px;
        border: 1px solid #8a5035;
        padding: 2%;
        font-weight: 300;
        text-align: center;
        margin-right: 12px;
    }

    .contact-info-icon {
        width: 12%;
    }
    .contact-info-icon img {
        width: 15%;
    }

    .footer-copyright{
        flex-direction: column-reverse;
    }

    .footer-copyright ul {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .footer-copyright ul li {
        margin-top: 12px;
    }

    .footer-copyright > p {
        text-align: center;
        width: 100%;
    }

}