.text-center{
    text-align: center;
}
body {
    position: relative;;
}

nav.dashboard_nav {
    width: 10%;
    height: 100vh;
    background-color: rgb(54, 1, 92);
    position: fixed;
    top:0;
    left: 0;
}

.nav_check{
    background-color: rgb(65, 2, 65)
}

ul {
    padding: 0;
    text-align: center;
}
li {
    padding:10px 0;
    list-style: none;
}

li:hover {
    background-color: rgb(141, 79, 255);
    color: orange;
}

a {
    color: orange;
    padding: 10px 30%;
    font-weight: bold;
    text-decoration: none;
}
a:hover {
    color: orange;
}

.content{
    margin-left: 10%;
}

input[type^="radio"] {
    margin: 20px 10px;
}

form {
    width: 30%;
    margin: auto;
    padding: 10px;
}

form input {
    width: 100%;
    margin-bottom: 10px;
}
form input[type^="submit"] {
    margin-top: 20px;
    border-radius: 20px;
    width: 70px;
}

.show {
    display: block;
}

.hidden {
    display: none;
}

table,th,tr,td {
    border: 2px solid rgb(54, 1, 92);
    padding: 5px;
}
h3 {
    margin-top: 20px;
    text-align: center;
}
table {
    margin: 20px auto;
}
.flash_message_box {
    position: fixed;
    height: 25%;
    width: 50%;
    background-color: rgb(54, 1, 92);
    top: 25%;
    left: 25%;
}

.flash_message_text{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: medium;
    font-weight: bold;
    color: orange;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}